/* your custom styles */
.scroll {
    height: 100%;
}
.center {
  margin-top:35vh;
}
.button-login{
	margin-left: 3%;
	margin-right: 3%;
	width: 94% !important;
}
.inner {
  display: inline-block;
  width: 200px; height: 200px;
}
.background{
	/*background-image: url('background.jpg');*/
	background-size: cover;

}

.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 40px;
  background: $warning;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
  z-index: 9999;
  background-color: #0a9dc7;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */
  color: white;
}
.solved{
	color:green !important;
}
.notsolved{
	color: red !important;
}

.error{
  color: red;
}

.icons{
  font-size: 40px;
}

.thumbnail{
      position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}