<ion-view view-title="SubAccount aanmaken">
    <ion-content scroll="true">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div class="centerdiv">
                        <form name="createform" novalidate ng-submit="create(data)"  class="centerform">
                            <h2>{{ Title }}</h2>
                            <div class="inputfields">
                                <label>
                                    <span>Naam*</span>
                                    <input required type="text" name="name" placeholder="Naam" ng-model="data.name" ng-class="{ 'has-errors' : createform.name.$invalid && !createform.name.$pristine, 'no-errors' : createform.name.$valid && !createform.name.$pristine } ">
                                </label>
                                
                                <div class="previewImage">
                                    <img class="profilepic" ng-if="photoUrl == null" id="image-preview" src="images/help1.png"><img id="image-preview" class="profilepic" ng-if="photoUrl != null" src="{{ photoUrl }}">
                                    <button type="button" class="ownbutton" ng-click="takePhoto()" id="take-btn">Foto nemen</button>
                                </div>
                            </div>
                            <button class="ownbutton button-block" ng-disabled="createform.$invalid" type="submit">{{ buttonText }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
