<ion-view view-title="detail playground" cache-view="false">
    <ion-content class="background">
        <div class="info">
            <div class="playgroundImage">
                <div>
                    <img class="testImage" src="{{ ApiUrl + playground.photo.url }}">
                </div>
                <div class="gotoMap">
                    <a href="#/mapoverview" class="ownbutton" title="">Terug naar kaart</a>
                </div>
            </div>
            <div class="functionsTasks">
                <div ng-show="playground.functions.length > 0" class="functions">
                    <h2>{{ playground.Name }}</h2>
                    <div>
                        <h3>Mogelijkheden:</h3>
                        <div ng-repeat="function in playground.functions" ng-model="function.checked" ng-checked="function.checked">
                            <p>{{ function }}</p>
                        </div>
                    </div>
                </div>
                <div class="tasks">
                    <h3>Opdrachten</h3>
                    <ul>
                        <li ng-repeat="task in playground.tasks" ng-checked="task.checked" ng-click="clickItem(task); $event.stopPropagation();" class="task" >
                            <!-- <ion-list> -->
                            <ion-checkbox  ng-model="task.checked" >
                                <p class="task">{{ task.Name }}</p>
                            </ion-checkbox>
                        </li>
                    </ul>
                    <!-- </ion-list> -->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
