<ion-view view-title="detailview" cache-view="false">
    <ion-content class="background">
        <div>
            <div class="datasubaccount">
                <div class="divimage column">
                    <img class="profilepic" ng-if="apiResult.photo == null" src="images/help1.png"><img class="profilepic" ng-if="apiResult.photo != null" src="{{ ApiUrl + apiResult.photo.url }}">
                    <p><a href="#/account/{{apiResult.Id}}/edit" title="">Profiel bewerken <i class="ion-edit"></i></a></p>
                </div>
                <div class="column name">
                    <h2>{{ apiResult.Name  }} </h2>
                </div>
                <div class="column">
                    <div>
                        <h3>Bezochte speelpleinen:</h3>
                        <div ng-repeat="playground in apiResultplaygrounds" class="playground">
                            <p>{{ playground.Name }}</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h3>Verzamelde badges</h3>
                    <div ng-repeat="achievement in apiResultachievement" class="achievements">
                        <img src="{{ ApiUrl + achievement.photo.url }}">
                    </div>
                </div>
            </div>
            <div class="goBtnsubacc">
                <a href="#/subaccounts" class="ownbutton" title="">Terug naar subaccounts</a>
                <a class="deleteAcc" ng-click="DeleteUser({{ apiResult.Id }})">
                Profiel verwijderen?
            </a>
            </div>
        </div>
    </ion-content>
</ion-view>
