<ion-view view-title="detailview" cache-view="false">
    <ion-content>
        <div>
            <img ng-if="apiResult.photo == null" src="images/help1.png">
            <img ng-if="apiResult.photo != null" src="{{ ApiUrl + subaccount.photo.url }}">
        </div>
        <div>
            <h2>{{ apiResult.Name }}</h2>
            <a href="#/account/{{apiResult.Id}}/edit" class="ion-edit " title=""></a>
            <div>
                <h3>Bezochte speelpleinen:</h3>
                <ion-list>
                    <ion-item ng-repeat="playground in apiResultplaygrounds">
                    <p>{{ playground.Name }}</p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div>
            <h2>Verzamelde badges</h2>
            <ion-list>
                <ion-item ng-repeat="achievement in apiResultachievement">
                <img src="{{ ApiUrl + achievement.photo.url }}">
                </ion-item>
            </ion-list>
        </div>
        <a href="#/subaccounts" title="">Terug naar subaccounts.</a>
        <a href="#/account/{{apiResult.Id}}/delete" title="">
            <p>Profiel verwijderen?</p>
        </a>
    </ion-content>
</ion-view>
