<ion-view view-title="Login" class="background">
    <ion-content class="center" scroll="false">
        <div class="centerdiv smalldiv">
            <form name="loginform" novalidate class="centerform">
                <h2>Aanmelden bij GeoKid</h2>
                <p ng-if="loginError" id="loginError" class="error">{{ loginError }}</p>
                <div class="inputfields">
                    <label>
                        <span>e-mail adres</span>
                        <input ng-class="{ 'has-errors' : loginform.email.$invalid && !loginform.email.$pristine, 'no-errors' : loginform.email.$valid && !loginform.email.$pristine }"  required type="email" name="email" placeholder="Emailadres" ng-model="data.email" form-validate-after>
                        <!-- <p ng-show="loginform.email.$error.required">* emailadres is verplicht</p> -->
                    </label>
                    <label>
                        <span>wachtwoord</span>
                        <input required type="password" name="password" placeholder="Wachtwoord" ng-model="data.password" ng-class="{ 'has-errors' : loginform.password.$invalid && !loginform.password.$pristine, 'no-errors' : loginform.password.$valid && !loginform.password.$pristine }" form-validate-after>
                        <!-- <p ng-show="loginform.password.$error.required">* Password is required</p> -->
                    </label>
                </div>
                <button class="ownbutton button-block" ng-click="login(data)">aanmelden</button>
                <p>Heb je nog geen account, <a href="#/register" title="registreer">registreer hier</a></p>
                <!-- <button class="button button-large button-block icon-right button-calm button-login" href="#/register""><i class="ion-log-in"></i> registereren</button> -->
            </form>
        </div>
    </ion-content>
</ion-view>
