<ion-view view-title="User Overview" cache-view="false">
    <ion-content class="background">
        <div ng-show="playgroundactive" class="infoplayground">
            <div>
                <h2>{{ playgroundInfo.Name }}</h2>
                <div ng-show="playgroundInfo.functions.length > 0" class="functions">
                    <h3>Mogelijkheden:</h3>
                    <div ng-repeat="functions in playgroundInfo.functions" >
                        <p>{{ functions }}</p>
                    </div>
                </div>
                <div>
                    <img src="{{ ApiUrl + playgroundInfo.photo.url }} ">
                </div>
                <div class="goBtnnav">
                    <a class="ownbutton" ng-click="gotoNav()" title="">Navigeer naar dit park!</a>
                </div>
            </div>
        </div>
        <div ng-class="{divmapfull: !playgroundactive, divmap: playgroundactive}">
            <div id="map" data-tap-disabled="true"></div>
        </div>
        <div ng-class="{navigationbuttonstop: !playgroundactive, navigationbuttonstopoverlay: playgroundactive}">
            <a class="ion-ios-people" ng-click="gotosub()" title=""></a>
        </div>
    </ion-content>
</ion-view>
