<ion-view view-title="User Overview">
    <ion-content>

        <!-- Ionic refresher => pull the search list down and it will refresh -->
        <ion-refresher
                pulling-icon="ion-loop"
                pulling-text="refresh"
                on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list>
            <ion-item
                    ng-repeat="problem in apiResult"
                    href="#/detail/{{ problem.id }}"
                    class="item item-thumbnail-left">
                <img src="images/help1.jpg">
                <h2 >{{ problem.title }}</h2>
                <p>
                    <span>
                        <i class="ion ion-ios-email-outline"></i>
                        {{ problem.description }}
                    </span>
                </p>
                <p>
                    <i class="ion ion-ios-clock-outline"></i>
                    {{ problem.problemDate }}
                </p>
                <p>
                    <p class="solved" ng-if="problem.solvedDate != undefined"><i class="ion ion-checkmark"></i>Fixed </p>
                    <p ng-if="problem.solvedDate == undefined" class="notsolved" ><i class="ion ion-close-round"></i> Not yet fixed</p>
                </p>

            </ion-item>
        </ion-list>
      
        <!--
        // Infinite scroll => go to the end of the search list
        <ion-infinite-scroll
                ng-if="apiService.hasMore"
                immediate-check="false"
                on-infinite="loadMore()">
        </ion-infinite-scroll>
        -->
    </ion-content>
    
    <div class="float-button">
      <span class="height-fix">
        <a ui-sref="new" class="content">
          <i class="ion-plus-round"> </i>
        </a>
      </span>
    </div>
</ion-view>
