<ion-view view-title="User Overview">
    <ion-content class="background">
        <div class="wrap outer">
            <div class="middle">
                <h2>Wie gaat er vandaag mee op avontuur?</h2>
                <div class="subaccount inner" ng-repeat="subaccount in apiResult">
                    <div class="datasubaccount">
                        <div class="aspect">
                            <a ng-click="ChoosePlayer({{ subaccount.Id }})">
                                <img id="{{ subaccount.Id  }}" ng-if="subaccount.photo == null" src="images/help1.png">
                            </a>
                            <a ng-click="ChoosePlayer({{ subaccount.Id }})" " >
                            <img id="{{ subaccount.Id }} " ng-if="subaccount.photo !=null " src="{{ ApiUrl + subaccount.photo.url }} ">
                        </a>
                        </div>
                        <h3>{{ subaccount.Name }}</h3>
                        <div>
                            <a href="#/detail/{{ subaccount.Id }} ">Profielpagina</a>
                        </div>
                    </div>
                </div>
                <div class="subaccount ">
                    <div class="datasubaccount ">
                        <a href="#/subaccounts/create ">
                            <img src="images/add.png ">
                        </a >
                        <h3>Toevoegen</h3>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="goBtn ">
            <a href="#/mapoverview " ng-show="Start " class="ownbutton ">Vertrekken</a>
        </div>
    </ion-content>
</ion-view>
