<ion-view view-title="User Overview">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="subaccount in apiResult" class="item item-thumbnail-left">
<!--                 <p>
                    <p class="solved" ng-if="problem.solvedDate != undefined"><i class="ion ion-checkmark"></i>Fixed </p>
                    <p ng-if="problem.solvedDate == undefined" class="notsolved"><i class="ion ion-close-round"></i> Not yet fixed</p>
                </p> -->
                <a href="#/login" ><img class="thumbnail" ng-if="subaccount.photo == null" src="images/help1.png"></a>
                <a href="#/login" ><img class="thumbnail" ng-if="subaccount.photo != null" src="{{ ApiUrl + subaccount.photo.url }}"></a>
                <h2 class="icons" >{{ subaccount.Name }}</h2><a href="#/detail/{{ subaccount.Id }}" class="icons ion-gear-b"></i></a>

            </ion-item>
             <ion-item " href="#/subaccounts/create" class="item item-thumbnail-left">
<!--                 <p>
                    <p class="solved" ng-if="problem.solvedDate != undefined"><i class="ion ion-checkmark"></i>Fixed </p>
                    <p ng-if="problem.solvedDate == undefined" class="notsolved"><i class="ion ion-close-round"></i> Not yet fixed</p>
                </p> -->
                <p> + </p>
                <h2>Toevoegen</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
